*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
}
.navbar{
    background-color: #000814;

}
.badge{
    cursor: pointer;
    border-radius: 45px!important;
    background-color: #ffc300;

}

#header-bg span{
  color: white;
}
.navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#header-bg{
    width: 100%;
    height: 33rem;
    background-image: url('../img/header.jpg');
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    box-shadow: 5px 8px 13px rgb(115, 117, 121);
    position: relative;

}

.search-box{
    position: absolute;
    top: 15rem;
    right: 11rem;
    flex-direction: column;
    box-shadow: 10px 8px 13px #000;
}

.search-box input{
    width: 350px;
    margin-right: 3px;
    height: 30px;
}

.search-box .btn-search{
    height: 30px;
}


/******Nos Offres******/

.contain{
    background: #000814;
    padding: 6px;
}

.contain i{
  color: #ffc300;
}

.contain .text{
  color: #ffc300;
}

.stage{
    justify-content: space-between;
}

.stage h5{
    text-decoration: underline;
}
.stage .stage-contain{
    width: 30%;
}
i p{
     font-family: Georgia, 'Times New Roman', Times, serif;  
}

/*************etape**************/
.stage-contain i{
     color: #003566;
}



/******Commandes******/

#commande{
    padding: 60px;
    margin-bottom: 80px;
    background : #dee2e6;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#commande .group-img{
    justify-content: space-around;
}
#commande .group-img .img-g:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.4s;
}
#commande .group-img .img-g a:hover{
    background: darkgrey;
    color: #000;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
#commande .group-img a{
    background-color: #003566 ;
}
/*********devenir vendeur********** */    
#a-propos{
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    color: #fff!important;
    height: 50rem;
    /*background-image: url('../img/apropos.jpg');*/
    background-image:  url(https://cdn.pixabay.com/photo/2018/01/18/23/02/laptop-3091427_960_720.jpg);
    background-position: top center;
    background-repeat: none;
    background-size: cover;
    box-shadow: 5px 8px 13px rgb(115, 117, 121);
    position: relative;
}

.proposer-box{
    position: absolute;
    width: 410px;
    top: 4rem;
    right: 8rem;
    flex-direction: column;
    box-shadow: 10px 8px 13px #000;

}

/******vendeurs-verifier******/
#vendeurs-verifier .v-contain{
    background: #ffc300;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#vendeurs-verifier .v-contain .check-group {
    flex-direction: column;
    margin-top: 30px;
}


/******inspirez******/
#inspirez{
    background: #dee2e6;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

/******footer******/
footer{
    background: #000814;
    padding: 5px;
    margin-top: 50px;
}

footer .container .group{
    display: flex;
    flex-direction: column!important;
}

footer .container{
    justify-content: space-between;
}

footer .footer .separator{
    width: 78%;
}

footer .social{
    display: flex;
    padding: 5px;
    justify-content: space-between;
}
